<h4>Welcome!</h4>
<br>

<div>
  <%= form_tag("/websites/display", method: "get") do %>
  <%= label_tag(:user_name, "Search for ") %>
  <%= text_field_tag(:user_name, nil, :size=> 50, :placeholder => "User name goes here.....") %>
  <%= submit_tag("Submit", class: "btn btn-primary") %>
  <% end %>
</div>

<!-- <a href="http://localhost:3000/job_seekers/register/Manpower-Employer/customer-service-representative?return_to=/jobs/Manpower-Employer/customer-service-representative/enroll?enroll=true" target="_blank" style="font-weight:bold;">To get a step ahead of the competition for this job Click Here</a> -->
<base target='_blank' />
<iframe src="http://localhost:3000/job_seekers/register/Manpower-Employer/customer-service-representative?return_to=/jobs/Manpower-Employer/customer-service-representative/enroll?enroll=true" target="_parent"> Cick Here </iframe>

<!-- <a href="http://localhost:3000/job_seekers/register/">link</a> -->