<h4>Welcome!</h4>
<br>

<div class="form-inputs">
<%= simple_form_for :website, :url => '/websites/display' do |f| %>
  	&emsp;<%= f.text_field :user_name, size: 50, :placeholder => "User name goes here..." %>
  	<%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
</div>

